:root{
    --primary-color: #b90000;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
    font-weight: 700;
}

p {
    font-weight: 400;
}

section{
    position: relative;
    top: 10vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
